// Navigation Styles here
header {
  nav {
    .flex(row, nowrap);
    justify-content: space-between;

    ul {
      .flex(row, nowrap);
      justify-content: space-around;
      align-items: center;
      li {
        margin: auto 15px;
        font-size: 1.5rem;
        a {
          text-decoration: none;
        }
      }
    }
  }
}
